---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Countdown from "../components/Countdown.astro";
import PrincipalDate from "../components/PrincipalDate.astro";
---

<Layout title="TOP">
  <main class="mx-auto max-w-4xl">
    <PrincipalDate />
    <Countdown />
  </main>
</Layout>
