---
import Layout from "@/layouts/Layout.astro";
import Countdown from "@/sections/Countdown.astro";
import Hero from "@/sections/Hero.astro";
import PrincipalDate from "@/sections/PrincipalDate.astro";
---

<Layout title="tøp">
  <Hero />
  <main>
    <PrincipalDate />
    <Countdown />
  </main>
</Layout>
